/* ==== Register & Login css ==== */
.register {
    padding: 65px 0 65px 0;
}

.login {
    padding: 6rem 0;
}

.form-container form {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.form-container form label {
    font-weight: bold;
}

.form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.form-container form button {
    display: block;
    margin: 0 auto;
}